.work-card-container-task{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #82828263;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width: 98%;
    margin-bottom: 12px;
    margin-right: 0 !important;
}

.work-card-main-container-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}

.work-card-content-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.work-card-content-task p, .work-card-content-task svg{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #ABABAB;
}

.work-card-content-task span{
    font-size: 12px;
    font-weight: 700;
}

.work-user-task{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.work-user-task img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.work-user-task h6{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
}

.work-card-content-buttons{
    display: flex;
    flex-direction: row;
    width: auto;
}

.work-card-content-buttons svg{
    font-size: 32px;
    padding: 5px;
    border: 1px solid #ABABAB;
    border-radius: 6px;
    margin-right: 5px;
}

.work-card-content-buttons svg:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.work-edit-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.work-edit-form h4{
    font-weight: 700;
    margin-bottom: 15px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #ABABAB;
}

.work-edit-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

.work-edit-input-container label{
    margin-right: 5px;
}

.work-edit-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.work-edit-buttons button{
    width: 49%;
    border-bottom: 1px solid #ABABAB;
    font-weight: 700;
    border-radius: 0;
}

.work-edit-buttons button:hover{
    background-color: #ababab4d;
}