.create-task-container{
    margin-left: 85px;
    padding: 20px;
    width: 100%;
    height: 100vh;
}

.create-task-container h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.post-card-form-card{
    width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.post-crud-buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-crud-buttons-container button{
    width: 49%;
}

.new-task-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-task-image-container img{
    height: 300px;
    width: auto;
}

.new-task-status-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}