.task-details-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.task-details-first-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid #DCDCDC;
}

.task-details-first-container-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    background-color: #E7EAEB;
    height: 120px;
}

.task-details-first-container-top h5{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
}

.task-details-first-container-top p{
    font-size: 14px;
    color: #ABABAB;
}

.task-details-first-container-top span{
    font-size: 12px;
    color: #828282;
}

.task-details-second-container{
    display: flex;
    flex-direction: column;
}

.task-container-first-container-buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0;
}

.btn-start, .btn-finish{
    border: 1px solid #0DAA2A !important;
    border-radius: 100px !important; 
    width: 45%;
    color: #0DAA2A !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.task-container-first-container-followers{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.task-container-first-container-followers h4{
    font-size: 16px;
    color: #ABABAB;
}

.task-creator{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.task-creator-img{
    margin-right: 8px;
}

.task-creator-img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.task-creator-info h6{
    margin-bottom: 0;
    font-weight: 700;
}

.task-creator-info p{
    margin-bottom: 0;
    font-size: 14px;
    color: #828282;
}

.task-followers{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-followers p{
    margin-bottom: 5px;
    color: #ABABAB;
    font-size: 16px;
}

.task-followers-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.task-followers-row img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.add-followers-button{
    border-radius: 50%;
    background-color: #DCDCDC;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
}

.add-followers-button img{
    margin: 0;
}

.elapsed-time-line{
    background: linear-gradient(to right, #0fcc32, #09681a);
    background-size: 200% 100%;
    animation: blinking-gradient 3s linear infinite;
    color: #fff;
    padding: 2px 5px;
    text-align: center;
}

@keyframes blinking-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.task-details-second-container{
    width: 78%;
    padding: 0 10px;
}

.task-details-second-container svg{
    font-size: 24px;
    color: #828282;
}

.task-details-second-container .nav.nav-pills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    margin-bottom: 30px !important;
}

.task-details-second-container .nav.nav-pills .nav-item {
    width: 33% !important;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.task-details-second-container .nav.nav-pills .nav-item a {
    width: 98% !important;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #828282;
    border-radius: 0;
}

.task-details-second-container .nav.nav-pills .nav-item a.active {
    border-bottom: 2px solid #828282;
    background-color: unset;
}

.heigth-100{
    height: 100%;
}

.task-comments-row{
    padding: 0 20px;
    overflow-y: scroll;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task-comment-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #DCDCDC;
    padding-top: 20px;
}

.task-comment-form input{
    border-radius: 100px;
    padding: 5px 20px !important;
    font-size: 16px;
    height: 50px;
}

.task-comment-form input::placeholder{
    color: #ABABAB;
}

.task-comment-form svg{
    margin-left: 5px;
    font-size: 36px;
}

.task-comment-form svg:hover{
    cursor: pointer;
}

.new-work-button-container{
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #DCDCDC;
    padding-top: 10px;
}

.new-work-button-container button{
    margin-top: 20px;
    border-bottom: 1px solid #DCDCDC;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 0;
}

.new-work-button-container button:hover{
    border-bottom: 2px solid #DCDCDC;
}